@import "styles/variables.scss";
@import "styles/mixins.scss";

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $greyPurple;
  z-index: 100;
  transform: translateX(100%);
  width: 90%;
  max-width: 400px;
  overflow-y: auto;
  transition: 0.3s ease-in-out;
  padding: 10px;

  &[data-active="true"] {
    transform: translateX(0);
  }

  .closeBtnContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }

  .closeBtn {
    font-size: 1.8rem;

    @include breakpoint("lg") {
      font-size: 2.2rem;
    }

    @include breakpoint("xl") {
      font-size: 2.6rem;
    }
  }
}
