@import "styles/variables.scss";
@import "styles/mixins.scss";

.selectOuterContainer {
  width: 100%;
  margin: 20px 0;
  user-select: none;

  .selectInnerContainer {
    position: relative;

    & .selectedOptionContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $grey100;
      color: $grey700;
      border-radius: 6px;

      &[data-active="false"] {
        cursor: pointer;
      }

      &[data-active="true"] {
        cursor: context-menu;
        background-color: $grey100;
      }
    }

    .selectedOptionContainer,
    .option {
      padding: 10px;
    }
    .selectedOptionContainer[data-active="false"]:hover,
    & .option:hover {
      background-color: $grey400;
      transition: 0.3s linear;
    }

    & .selectedOption,
    .selectIcon {
      font-size: 1rem;

      @include breakpoint("lg") {
        font-size: 1.2rem;
      }

      @include breakpoint("xl") {
        font-size: 1.4rem;
      }
    }

    & .selectIcon {
      &[data-active="false"] {
        transform: rotate(0);
      }

      &[data-active="true"] {
        transform: rotate(180deg);
      }
    }

    & ul {
      display: block;
      position: absolute;
      z-index: 100;
      left: 0;
      top: 100%;
      width: 100%;
      list-style-type: none;
      border-radius: 6px;

      & .option {
        width: 100%;
        background-color: $grey100;
        color: $grey700;
        font-size: 1rem;
        cursor: pointer;

        @include breakpoint("lg") {
          font-size: 1.2rem;
        }

        @include breakpoint("xl") {
          font-size: 1.4rem;
        }
      }
    }
  }
}
