@import "styles/mixins.scss";

.icon {
  margin: 0 5px;
  font-size: 1.2rem;

  @include breakpoint("lg") {
    font-size: 1.6rem;
    margin: 0 10px;
  }

  @include breakpoint("xl") {
    font-size: 2rem;
    margin-right: 20px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s linear;
  }
}
