@import "styles/mixins.scss";

.title {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 20px 0;

  @include breakpoint("lg") {
    font-size: 1.8rem;
  }

  @include breakpoint("xl") {
    font-size: 2rem;
  }
}

.historyTable {
  width: 100%;

  & td {
    padding: 5px 0;
  }
  & tr,
  td {
    text-align: left;
  }
}

.backupMsg {
  text-align: center;
}

.historyTable td,
.historyTable tr,
.backupMsg {
  font-size: 1.2rem;

  @include breakpoint("lg") {
    font-size: 1.4rem;
  }

  @include breakpoint("xl") {
    font-size: 1.6rem;
  }
}
