@import "styles/mixins.scss";

.board {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 20px;

  @include breakpoint("lg") {
    &[data-difficulty="hard"] {
      grid-template-columns: repeat(6, auto);
    }
  }
}
