@import "styles/variables.scss";
@import "styles/mixins.scss";

.tile {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  overflow: hidden;
  perspective: 1000px;

  @include breakpoint("lg") {
    width: 100px;
    height: 100px;
  }

  @include breakpoint("xl") {
    width: 150px;
    height: 150px;
  }

  .back,
  .front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.3s linear;
    transform-style: preserve-3d;
  }

  .back {
    background: linear-gradient(135deg, $bluePurple, $darkPurple);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    z-index: 2;
    transform: rotateY(0deg);

    &[data-disabled="true"] {
      cursor: context-menu;
      filter: grayscale(0.5);
    }

    &[data-active="true"] {
      transform: rotateY(180deg);
      z-index: 1;
    }

    &[data-active="false"] {
      transform: rotateY(0);
      z-index: 2;
    }

    @include breakpoint("xl") {
      &[data-disabled="true"]:hover {
        border: none;
      }

      &:hover {
        border: 2px solid purple;
      }
    }
  }

  .front {
    transform: translateY(180deg);
    z-index: 1;
  }
  .front[data-active="true"] {
    z-index: 2;
    transform: rotateY(0);
  }

  .front[data-active="false"] {
    z-index: 1;
    transform: rotateY(180deg);
  }
}
