@import "styles/variables.scss";
@import "styles/mixins.scss";

.formContainer {
  & select {
    color: $bluePurple;
    background-color: $grey100;

    & option:hover {
      background-color: $grey400;
      transition: 0.3s;
    }
  }

  & .title {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 20px 0;

    @include breakpoint("lg") {
      font-size: 1.8rem;
    }
    @include breakpoint("xl") {
      font-size: 2rem;
    }
  }

  & .btnContainer {
    display: flex;
    justify-content: center;
  }
}
